#
# run: 
#   pip install -r requirements.txt
#
Django
nose
-e git+git://github.com/jbalogh/django-nose.git#egg=django-nose
MySQL-python
simplejson
gevent
redis==2.4
hg+https://bitbucket.org/Jeffrey/gevent-websocket#egg=gevent-websocket
hg+https://bitbucket.org/Jeffrey/gevent-socketio#egg=gevent-socketio
