<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <title>{% block page_title %}JS TestNet{% endblock %}</title>
  {{ css('common') }}
  {% for style in styles %}
    {{ css(style) }}
  {% endfor %}
  {% block extra_head %}
  {% endblock %}
</head>
<body>
  <div id="header">
    <h1>JS TestNet</h1>
  </div>
  <div id="content">
    {% block content %}{% endblock %}
  </div>

  {{ js('common') }}
  {% for script in scripts %}
    {{ js(script) }}
  {% endfor %}
</body>
</html>
